.awards-grid{
  background: #ffffff;
  //filter: brightness(0.9);

  h3{
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 1rem;
    color: $dark;
    text-align: center;
  }

 ul.blocks-gallery-grid {
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   justify-content: space-between;
   li.blocks-gallery-item {
     flex-basis: auto;
     width: 100%;
     max-width: 120px;
   }
 }
}

.awards-grid{
  .columns{
    align-items: center;
    justify-content: center;
  }
}
