@charset "utf-8";

// Import a Google Font
//@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

@import "bulma/sass/utilities/initial-variables.sass";


$primary: $white-ter;
$info: #a7a7a7;
$control-radius: 0;

$dark: hsl(0, 0%, 0%);
//$light: $white-ter;
$light: hsl(0deg 0% 100%);


$body-background-color: $dark;
$body-color: $grey-light;
$body-weight:$weight-light;

$link: $grey-lighter;
$link-hover: $white-bis;
$link-visited: $white-ter;

$header: hsl(0deg 0% 100%);


$navbar-background-color: transparent;
$navbar-item-color: $grey-light;
$navbar-item-hover-color: $white-bis;
$navbar-item-hover-background-color:transparent;
$navbar-item-active-color:$white-ter;
$navbar-item-active-background-color:transparent;

$navbar-dropdown-background-color:transparent;

$footer-background-color:transparent;
$footer-padding: 3rem 1.5rem;

.btest {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  border-radius: 10px;
}
.borderReduis {
  border-radius: 5px;
  border: none;
}

.selected-flag {
  display: flex !important;
  background-color: #e6e6e6;
  //  background-color: red;
}

// overwrite bulma
.input,
.textarea,
.select select {
  background-color: $light;
  font: $black;
}
.intl-tel-input.allow-dropdown input[type="tel"] {
  background-color: #e6e6e6 !important;
}
.select:not(.is-multiple):not(.is-loading)::after {
  border-color: black;
}

.intl-tel-input .flag-container .arrow.down:after {
  content: "";
  position: absolute;
  top: 155%;
  right: -47%;
  color: $black;
  padding-right: 2px;
}

.intl-tel-input .flag-container .arrow.up:after {
  content: "";
  position: absolute;
  top: 155%;
  right: -47%;
  color: $black;
  padding-right: 2px;
}
.intl-tel-input.allow-dropdown.separate-dial-code .selected-dial-code {
  color: black;
  display: hidden !important;
  padding-left: 7px !important;
}
.mobile-error {
  font-size: 15px;
  color: red;
  margin-top: 2px;
}
// .intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-4 .selected-flag{
//   width:80px !important;
// }
.intl-tel-input .country-list {
  font: $black !important;
  color: $black !important;
}

//$container-max-width:$widescreen;

// $footer-color: #3e3e3e;
// $footer-background-color: #f5f5f5

//@import "~bulma/sass/utilities/_all";
@import "bulma/bulma.sass";

@import "./_header.scss";
@import "./_footer.scss";
@import "./_layout.scss";
@import "./_grid.scss";
@import "./_slider.scss";
@import "./_instagram.scss";
@import "./_single.scss";
@import "./_page.scss";
@import "./_blog.scss";
@import "./_team.scss";
@import "./_awards.scss";
@import "./_arabic.scss";
