@font-face {
  font-family: "NotoNaskhArabic-Regular";
  src: local("NotoNaskhArabic-Regular"),
    url("./styles/fonts/NotoNaskhArabic-Regular.ttf") format("truetype");
}

p,
h2 {
  margin: 0;
  margin-bottom: 0;
}

body {
  color: white;
}

.navbar-burger {
  margin: 0;
}
.page h1,
.page h2,
.page h3,
.page h4,
.page h5,
.page h6 {
  margin-bottom: 0;
}

.navbar-brand,
.navbar-tabs {
  justify-content: space-between;
}
.head-text {
  font-weight: bolder !important;
  text-transform: uppercase;
}
h2 {
  font-weight: 900 !important;
  font-size: 2rem !important;
}
._1_Dg2 {
  overflow: hidden;
}

.figure-fix {
  width: 100%;
  margin: 0;
}

.modal {
  z-index: 120;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 0.75rem;
  z-index: 100;
  background-color: hsl(0deg, 0%, 7%);
}

.svg-logo {
  width: 100px;
}

img {
  border-radius: 6px;
  object-fit: cover;
  height: 100%;
  max-width: 100%;
}

.fix-index {
  animation-fill-mode: backwards !important;
}

.title p {
  line-height: 1.5rem;
}

.fix-index svg {
  filter: drop-shadow(3px 5px 3px black);
}

.footer .columns {
  gap: 2rem;
}
#header .navbar .navbar-menu .navbar-item:last-child {
  margin: 0 0 0 0 !important;
}

.footer .button:hover,
.CTA:hover {
  background: #202021;
  border-color: #a7a7a7;
}

.button:hover {
  background: white;
  border-color: #a7a7a7;
}

.footer .level {
  padding: 0;
}
.footer .level .level-left {
  margin-top: 0;
  align-self: center;
}
.button.buttonOutlined {
  margin: 1rem 0 2rem 0;
}

.icon-item {
  width: 50px;
}

.right-1-footer {
  border-right: 1px solid #ffffff;
  padding: 13px 0px 13px 0px;
}

.right-1-footer,
.right-2-footer {
  width: 25%;
  align-self: center;
}

#form-desktop form {
  width: 320px;
  float: right;
  padding: 20px;
  border-radius: 10px;
  margin-top: 10rem;
}

.swiper-button-prev,
.swiper-button-next {
  color: #ffffff;
}

.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
  background: #ffffff !important;
  width: 10px !important;
  height: 10px !important;
}

.swiper-pagination {
  position: relative !important;
  bottom: 0;
  border-radius: 15px;
  padding: 5px;
}

footer svg {
  width: 20px;
  height: 20px;
  filter: none;
}

footer {
  background-color: #545454;
  color: white;
}

.left-footer {
  width: 75%;
  margin: 0;
}

.left-footer p {
  padding-top: 5%;
  padding-bottom: 5%;
  border-right: 1px solid #858181;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: white;
}

.icon-links a {
  width: 1.4rem;
  height: 1.4rem;
  display: inline-block;
  margin: 1rem;
}

.footer-items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  z-index: 35;
  box-shadow: -1px -1px 9px 0 rgb(0 0 0 / 10%);
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

footer {
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.5);
}

p {
  margin-bottom: 0;
}

header {
  padding: 0rem 1.5rem !important;
}

.cta {
  position: fixed;
  background-color: #999999;
  color: white;
  min-width: 300px;
  height: auto;
  bottom: 2rem;
  right: 2rem;
  z-index: 10;
  white-space: nowrap;
}

.cta span {
  display: block;
}

.cta div {
  line-height: 1;
}

.cta .column {
  padding: 0.25rem;
}
._2ljUm {
  margin-bottom: 15px;
}

#bg-video {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  height: auto;
  z-index: 2;
  background-size: cover;
  overflow: hidden;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.swiper-autoheight,
.swiper-autoheight .swiper-slide {
}

#home {
  /* background-image: url("./images/first.jpg");*/
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100dvh;
  position: relative;
  margin-top: 4rem;
  display: flex;
  align-items: center;
}

#home h1 {
  position: relative;
  z-index: 4;
}
.Para-placeholder {
  height: 600px;
}

.about-image {
  padding: 0;
}

.mobile-padding {
  padding: 0 6rem;
}

nav {
  box-shadow: 0px 3px 10px 5px rgba(0, 0, 0.5, 0.5);
}

.title {
  font-size: 2rem;
  padding: 2rem;
  font-weight: bold;
  text-shadow: 1px 1px 1px black;
  width: 100%;
}

#header .navbar .navbar-menu .navbar-item:last-child {
  margin: 0 0 0 0.5rem;
}

.swiper-button-prev,
.swiper-button-next {
  width: 30px !important;
  height: 30px !important;
  color: white !important;
}

.swiper-button-next {
  content: url("./svg/arrow-right.svg");
  width: 15px;
  height: 15px;
}

.swiper-button-prev {
  content: url("./svg/arrow-left.svg");
  width: 15px;
  height: 15px;
}

.swiper-wrapper {
  place-items: center;
}

.swiper-autoheight .swiper-wrapper {
  place-items: center;
}

.button:hover,
.button:focus {
  background: transparent !important;
  border-color: #a7a7a7 !important;
  color: rgb(238, 235, 235) !important;
}

.testimonial-box {
  border: 1px solid white;
  border-radius: 6px;
  margin: 15px;
  max-width: 450px;
  padding: 30px 15px;
}

#our-clients img {
  object-fit: contain;
  border-radius: 0;
}

#our-clients .swiper-button-prev,
#our-clients .swiper-button-next {
  width: 30px !important;
  height: 30px !important;
  color: black !important;
}

.swiper-slide-active,
.swiper-slide {
  text-align: -webkit-center;
}

.testimonial {
  gap: 15px;
}

.testimonial .box {
  height: 100%;
  display: flex;
  min-height: 364px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.testimonial .columns:last-child {
  margin-bottom: 0 !important;
}
.testimonial svg {
  width: 15px;
  filter: none;
}

/* the slides */
.slick-slide {
  margin: 0 27px;
}

.navbar-end {
  gap: 10px;
}

.topButton {
  position: fixed;
  bottom: 2rem;
  left: 2rem;
  z-index: 10;
  background-color: #202021;
  border-radius: 40%;
}

.topButton {
  font-size: 1.5rem;
  color: #fff;
  background-color: #202021;
  padding: 0.5rem;
  border-radius: 50%;
  box-shadow: 0px 3px 10px 5px rgba(0, 0, 0.5, 0.5);
}

.svg-inline--fa {
  width: 2rem;
}

.about {
  width: 100%;
  margin: 0;
}

#projects {
  direction: ltr;
}

#form-footer {
  margin: 3rem auto;
  border-radius: 15px;
  width: 90%;
  max-width: 600px;
}
svg {
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}
#form-footer form {
  margin: 0;
  padding: 2rem;
  border-radius: 15px;
}

.odd {
  display: flex;
  flex-direction: row-reverse;
}

.about-blur {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.is-centered {
  text-align: center;
}

.box-arabic {
  direction: rtl !important;
}

@media screen and (max-width: 1024px) {
  .title {
    width: 100%;
    text-align: center;
  }

  .figure-fix {
    gap: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .testimonial-box {
    max-width: 70%;
  }

  .testimonial {
    padding: 1rem 0.5rem !important;
  }

  #home {
    min-height: 80dvh;
  }

  .Para-placeholder {
    height: 400px;
  }

  .odd {
    display: flex;
    flex-direction: column;
  }

  .topButton {
    bottom: 4rem;
  }
  .mobile-padding {
    padding: 0 0.5rem;
  }
  .section {
    padding: 1rem 1.5rem;
  }
  .swiper-image {
    height: 400px;
  }
}
